body { 
    background-color: #FFFFFF; 
    text-align: center; 
    font-family: Arial, sans-serif; 
    overflow-y: scroll; /* Adds vertical scrolling when content exceeds viewport */
    height: 100%; /* Ensure the body takes up the full height */
    margin: 0; /* Remove default margin */
    margin-bottom: 150px;  /* Ensures there's always a gap */
} 

.title-container { 
    background-color: #002E67; 
    padding: 20px; 
    margin: 1px 0 0 0; 
    width: 100%; 
    border-radius: 0; 
} 

.title-text { 
    font-size: 40px;
    font-weight: bold;
    color: white; 
} 

.logo-container {
    margin-top: 0px; /* Keeps the top margin as is */
    text-align: left; /* Aligns the content to the left */
    padding-left: 20px; /* Optional: adds some padding to the left side for spacing */
}


hr { 
    border: 0; 
    height: 2mm; 
    background-color: #8397B4; /* Blue color */
    width: 100%;
    top: 320px; /* Adds spacing above and below the line */
    left: 0;
    position: absolute;
    z-index: 0;
} 

.button-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px; /* Adjust this value to move buttons higher */
}

.custom-button { 
    width: 210px; /* Fixed width for the button */
    padding: 15px 40px; /* Added padding for a better oval shape */
    border-radius: 50px; /* Creates the oval shape */
    background-color: #8397B4; /* Button color */
    color: white; /* Button text color */
    font-size: 15px; /* Adjust font size */
    font-weight: bold;
    border: 3px solid white; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer */
}

.custom-button-white { 
    width: 200px; /* Fixed width for the button */
    padding: 15px 40px; /* Added padding for a better oval shape */
    border-radius: 50px; /* Creates the oval shape */
    background-color: transparent; /* Button color */
    color: transparent; /* Button text color */
    font-size: 15px; /* Adjust font size */
    font-weight: bold;
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer */
    z-index: 0;
}

.custom-button-exex { 
    width: 310px; /* Fixed width for the button */
    padding: 15px 40px; /* Added padding for a better oval shape */
    border-radius: 50px; /* Creates the oval shape */
    background-color: #E896BE; /* Button color */
    color: white; /* Button text color */
    font-size: 15px; /* Adjust font size */
    font-weight: bold;
    border: 3px solid white; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer */
    z-index: 0;
    margin-top: 50px; /* Move the button up -10px*/
}

.custom-button-selected { 
    width: 203px; /* Fixed width for the button */
    padding: 15px 40px; /* Added padding for a better oval shape */
    border-radius: 50px; /* Creates the oval shape */
    background-color: #002E67; /* Button color */
    color: white; /* Button text color */
    font-size: 15px; /* Adjust font size */
    font-weight: bold;
    border: 3px solid white; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer */
}

/* external exposure label */
.custom-button-shape {
    width: 250px; /* Fixed width for the shape */
    height: 15px;
    padding: 15px 40px; /* Added padding for a better oval shape */
    border-radius: 50px; /* Creates the oval shape */
    background-color: transparent; /* Shape color */
    color: #E5007F; /* Text color (can be removed if no text) */
    font-size: 15px; /* Adjust font size if there's text */
    font-weight: bold;
    cursor: default; /* Ensures it's not clickable */
    z-index: 0; /* Optional: controls layering */
    margin-top: 50px;
    margin-left: 880px;
    border: 1.5mm solid #E5007F;
}

/* MOLECULAR INITIATING EVENT label */
.custom-button-shape-mie {
    width: 360px; /* Fixed width for the shape */
    height: 15px;
    padding: 15px 40px; /* Added padding for a better oval shape */
    border-radius: 50px; /* Creates the oval shape */
    background-color: transparent; /* Shape color */
    color: #E5007F; /* Text color (can be removed if no text) */
    font-size: 15px; /* Adjust font size if there's text */
    font-weight: bold;
    cursor: default; /* Ensures it's not clickable */
    z-index: 0; /* Optional: controls layering */
    margin-top: 50px;
    margin-left: 772px;
    border: 1.5mm solid #E5007F;
}

/* external exposure label */
.custom-button-shape-tut-tool {
    width: 125px; /* Fixed width for the shape */
    height: 19px;
    padding: 15px 40px; /* Added padding for a better oval shape */
    border-radius: 50px; /* Creates the oval shape */
    background-color: #E5007F; /* Shape color */
    color: white; /* Text color (can be removed if no text) */
    font-size: 15px; /* Adjust font size if there's text */
    font-weight: bold;
    cursor: default; /* Ensures it's not clickable */
    z-index: 0; /* Optional: controls layering */
    margin-top: 60px;
    margin-left: 280px;
}

.tut-container {
    position: relative; /* Ensures child elements are positioned relative to this container */
    width: 100%; /* Make it span the full width */
    height: auto; /* Adjust based on content */
}

.custom-button-shape-tut-man {
    position: absolute;
    left: -370px; /* Adjust this manually */
    top: 100px; /* Adjust this manually */
}

.custom-button-shape-tut-vid {
    position: absolute;
    left: 10px; /* Adjust this manually */
    top: 100px; /* Keep the same as 'man' to align horizontally */
}

.custom-button-shape-tut-test {
    position: absolute;
    left: 600px; /* Adjust this manually */
    top: 100px; /* Keep the same as 'man' to align horizontally */
}



/* external exposure label */
.custom-button-shape-tut-vid {
    width: 30px; /* Fixed width for the shape */
    height: 10px;
    padding: 15px 40px; /* Added padding for a better oval shape */
    border-radius: 50px; /* Creates the oval shape */
    background-color: transparent; /* Shape color */
    color: #E5007F; /* Text color (can be removed if no text) */
    font-size: 15px; /* Adjust font size if there's text */
    font-weight: bold;
    cursor: default; /* Ensures it's not clickable */
    margin-top: 0px;
    margin-left: 260px;
    border: 1.5mm solid #E5007F; /* 1.5mm thick border */
}

.custom-button-shape-tut-man {
    width: 30px; /* Fixed width for the shape */
    height: 10px;
    padding: 15px 40px; /* Added padding for a better oval shape */
    border-radius: 50px; /* Creates the oval shape */
    background-color: transparent; /* Shape color */
    color: #E5007F; /* Text color (can be removed if no text) */
    font-size: 15px; /* Adjust font size if there's text */
    font-weight: bold;
    cursor: default; /* Ensures it's not clickable */
    margin-top: 0px;
    margin-left: 805px;
    border: 1.5mm solid #E5007F; /* 1.5mm thick border */
}

.custom-button-shape-tut-test {
    width: 30px; /* Fixed width for the shape */
    height: 10px;
    padding: 15px 40px; /* Added padding for a better oval shape */
    border-radius: 50px; /* Creates the oval shape */
    background-color: transparent; /* Shape color */
    color: #E5007F; /* Text color (can be removed if no text) */
    font-size: 15px; /* Adjust font size if there's text */
    font-weight: bold;
    cursor: default; /* Ensures it's not clickable */
    margin-top: 0px;
    margin-left: 0px;
    border: 1.5mm solid #E5007F; /* 1.5mm thick border */
}

.custom-button:hover {
    background-color: #E5007F; /* Darker shade when hovering */
    color: #FFFFFF; 
}


/* Squares Container */
.squares-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* Space between squares */
    margin-top: 120px; /* Adjust spacing between the buttons and squares */
}
/* Square Style */
.square {
    width: 130px; /* Set width of squares */
    height: 200px; /* Set height of squares */
    background-color: #E0F2FA; /* Square color */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer */
    text-align: center;
    line-height: 100px; /* Center the text vertically */
    color: white; /* Text color */
    font-size: 18px;
    font-weight: bold; /* Make the text inside the square bold */
    border-radius: 10px; /* Optional: round the corners */
    position: relative; /* To position the icon absolutely inside */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Position the icon inside square1 */
.square-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the icon inside the square */
    width: 60px; /* Adjust the size of the icon */
    height: 60px; /* Adjust the size of the icon */
}

.icon-vid {
    width: 40px;  /* Adjust the width as needed */
    height: auto;  /* Adjust the height as needed */
    margin-top: -10px;
    margin-left: -5px;
}

.icon-man {
    width: 40px;  /* Adjust the width as needed */
    height: auto;  /* Adjust the height as needed */
    margin-top: -14px;
    margin-left: -5px;
}

.icon-test {
    width: 40px;  /* Adjust the width as needed */
    height: auto;  /* Adjust the height as needed */
    margin-top: -14px;
    margin-left: -5px;
}

/* Hover effect for squares */
.square:hover {
    background-color: #E896BE; /* Change color on hover */
}

/* Horizontal line above the squares */
.squares-line {
    border: 0;
    height: 2mm;
    background-color: #002E67; /* Blue color */
    width: 55%; /* Adjust the width for the desired length */
    position: absolute; /* Position it absolutely */
    top: 400px; /* Adjust the vertical position (distance from the top) */
    left: 50%; /* Center the line horizontally */
    transform: translateX(-50%); /* This ensures the line is truly centered */
    z-index: 1; /* Make sure the line appears above other content */
}

/* Vertical line */
.vertical-line-root {
    border: 0;
    width: 2mm; /* Line width */
    background-color: #002E67; /* Blue color */
    height: 80px; /* Set height for the vertical line */
    position: absolute; /* Position it absolutely */
    top: 330px; /* Adjust the vertical position (distance from the top) */
    left: 26%; /* Center the line horizontally */
    transform: translateX(-50%); /* Ensures the line is centered horizontally */
    z-index: 1; /* Make sure the line appears above other content */
}

/* Vertical line */
.vertical-line1 {
    border: 0;
    width: 2mm; /* Line width */
    background-color: #002E67; /* Blue color */
    height: 50px; /* Set height for the vertical line */
    position: absolute; /* Position it absolutely */
    top: 410px; /* Adjust the vertical position (distance from the top) */
    left: 22.75%; /* Center the line horizontally */
    transform: translateX(-50%); /* Ensures the line is centered horizontally */
    z-index: 1; /* Make sure the line appears above other content */
}

/* Vertical line */
.vertical-line2 {
    border: 0;
    width: 2mm; /* Line width */
    background-color: #002E67; /* Blue color */
    height: 50px; /* Set height for the vertical line */
    position: absolute; /* Position it absolutely */
    top: 410px; /* Adjust the vertical position (distance from the top) */
    left: 33%; /* Center the line horizontally */
    transform: translateX(-50%); /* Ensures the line is centered horizontally */
    z-index: 1; /* Make sure the line appears above other content */
}

/* Vertical line */
.vertical-line3 {
    border: 0;
    width: 2mm; /* Line width */
    background-color: #002E67; /* Blue color */
    height: 50px; /* Set height for the vertical line */
    position: absolute; /* Position it absolutely */
    top: 410px; /* Adjust the vertical position (distance from the top) */
    left: 44.5%; /* Center the line horizontally */
    transform: translateX(-50%); /* Ensures the line is centered horizontally */
    z-index: 1; /* Make sure the line appears above other content */
}


/* Vertical line */
.vertical-line4 {
    border: 0;
    width: 2mm; /* Line width */
    background-color: #002E67; /* Blue color */
    height: 50px; /* Set height for the vertical line */
    position: absolute; /* Position it absolutely */
    top: 410px; /* Adjust the vertical position (distance from the top) */
    left: 55.5%; /* Center the line horizontally */
    transform: translateX(-50%); /* Ensures the line is centered horizontally */
    z-index: 1; /* Make sure the line appears above other content */
}

/* Vertical line */
.vertical-line5 {
    border: 0;
    width: 2mm; /* Line width */
    background-color: #002E67; /* Blue color */
    height: 50px; /* Set height for the vertical line */
    position: absolute; /* Position it absolutely */
    top: 410px; /* Adjust the vertical position (distance from the top) */
    left: 67%; /* Center the line horizontally */
    transform: translateX(-50%); /* Ensures the line is centered horizontally */
    z-index: 1; /* Make sure the line appears above other content */
}

/* Vertical line */
.vertical-line6 {
    border: 0;
    width: 2mm; /* Line width */
    background-color: #002E67; /* Blue color */
    height: 50px; /* Set height for the vertical line */
    position: absolute; /* Position it absolutely */
    top: 410px; /* Adjust the vertical position (distance from the top) */
    left: 77.25%; /* Center the line horizontally */
    transform: translateX(-50%); /* Ensures the line is centered horizontally */
    z-index: 1; /* Make sure the line appears above other content */
}

/* Container for labels */
.labels-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* Space between labels */
    margin-top: 20px; /* Adjust the space between squares and labels */
}

/* Individual label style */
.label {
    font-size: 15px; /* Set font size for the label */
    font-weight: bold; /* Make the label text bold */
    color: #002E67; /* Label color */
    text-align: center;
    width: 130px; /* Same width as the squares */
    word-wrap: break-word;
}

.half-width-text {
    width: 31%; /* Half the width of the container */
    margin-left: 260px; /* Left margin of 50px */
    margin-right: 50px; /* Right margin of 50px */
    text-align: justify; /* Aligns text to the left */
    line-height: 1.6;
}

.half-width-text-right {
    width: 40%; /* Half the width of the container */
    margin-left: 50px;
    text-align: justify; /* Aligns text to the left */
    line-height: 1.6;
}

.half-width-text-left {
    width: 40%; /* Half the width of the container */
    text-align: justify; /* Aligns text to the left */
    line-height: 1.6;
}

.text-container {
    display: flex;
    gap: 100px; /* Adds spacing between text blocks */
    max-width: 70%; /* Adjust the width as needed */
    margin: auto; /* Centers the text container */
}


.tree-container {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.tree-container ul {
    list-style-type: none;
    padding-left: 20px;
}

.tree-container li {
    cursor: pointer;
    margin: 5px 0;
}

.tree-container a {
    text-decoration: none;
    color: #002E67;
    font-weight: normal;
}

.tree-container a:hover {
    text-decoration: underline;
    color: #E5007F;
}

.tree-container .parent {
    color: #002E67; /* Change to your exact magenta shade if needed */
    font-weight: bolder; /* Optional */
    cursor: pointer; /* Makes it clear it's clickable */
}

.tree-container .parent_second {
    color: #002E67; /* Change to your exact magenta shade if needed */
    font-weight: bolder; /* Optional */
    cursor: pointer; /* Makes it clear it's clickable */
}



.tree-container a.parent_third {
    color: #E5007F; /* Magenta color */
    font-weight: normal; /* Optional */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Makes it clear it's clickable */
}

.tree-container a.parent_third:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #E5007F; /* Ensure hover color stays magenta */
}