<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Logo (Clickable link to go to home page) -->
    <div class="logo-container">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='VHP_logo.png') }}" height="150px" alt="Logo">
        </a>
    </div>
    
    <!-- Title Container for second page -->
    <div class="title-container">
        <div class="title-text">Central Access Point</div>
    </div>
    
    <!-- Horizontal line -->
    <hr>

    <!-- Buttons -->
    <div class="button-container">
        <a href="{{ url_for('second') }}">
            <button class="custom-button">S T A G E S</button>
        </a>
        <a href="{{ url_for('workflows') }}">
            <button class="custom-button">W O R K F L O W</button>
        </a>
        <a href="{{ url_for('tutorials') }}">
            <button class="custom-button-selected">T U T O R I A L</button>
        </a>
        <a href="{{ url_for('data') }}">
            <button class="custom-button">D A T A</button>
        </a>   
    </div>



<div class="custom-button-shape-tut-tool">Q S P R P R E D</div>


<br></br>

<h5> Video material</h5>


</body>
</html>
