<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Logo (Clickable link to go to home page) -->
    <div class="logo-container">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='VHP_logo.png') }}" height="150px" alt="Logo">
        </a>
    </div>
    
    <!-- Title Container for second page -->
    <div class="title-container">
        <div class="title-text">Central Access Point</div>
    </div>
    
    <!-- Horizontal line -->
    <hr>

    <!-- Buttons -->
    <div class="button-container">
        <a href="{{ url_for('second') }}">
            <button class="custom-button">S T A G E S</button>
        </a>
        <a href="{{ url_for('workflows') }}">
            <button class="custom-button">W O R K F L O W</button>
        </a>
        <a href="{{ url_for('tutorials') }}">
            <button class="custom-button-selected">T U T O R I A L</button>
        </a>
        <a href="{{ url_for('data') }}">
            <button class="custom-button">D A T A</button>
        </a>   
    </div>

    <a href="{{ url_for('tutorials') }}">
        <div class="custom-button-shape-tut-tool">Q S P R P R E D</div>
    </a>

    <br></br>

    <div class="text-container">
        <div class="half-width-text-right">
            <!-- Tree Structure -->
            <div class="tree-container">
                
                <ul>

                    <li><a class="parent_run" href="{{ url_for('square2') }}" target="_blank">Run QSPRpred</a></li>
                    
                    <li class="parent" onclick="toggleList(event)">▼ M A N U A L
                        <ul>
                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/main/tutorials/quick_start.ipynb" target="_blank">Quick start</a></li>
                            <li><a href="https://cddleiden.github.io/QSPRpred/docs/install.html" target="_blank">Install</a></li>
                            <li class="parent_second" onclick="toggleList(event)">▼ Building QSPRpred Models
                                <ul>
                                    <li class="parent_second" onclick="toggleList(event)">▼ Data
                                        <ul style="display: none;">
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/main/tutorials/basics/data/data_collection_with_papyrus.ipynb" target="_blank">Collect Data</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/data/data_preparation.ipynb" target="_blank">Data Preparation</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/data/data_representation.ipynb" target="_blank">Data Representation</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/data/data_splitting.ipynb" target="_blank">Data Splitting</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/data/descriptors.ipynb" target="_blank">Descriptors</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/data/data_splitting.ipynb" target="_blank">Search, Filter and Plotting</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/data/data_splitting.ipynb" target="_blank">Applicability Domain</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/data/data_splitting.ipynb" target="_blank">Paralellization</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/data/data_splitting.ipynb" target="_blank">Custom Descriptors</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/data/data_splitting.ipynb" target="_blank">Custom Data Split</a></li>
                                        </ul>
                                    </li>
                                    <li class="parent_second" onclick="toggleList(event)">▼ Modeling
                                        <ul style="display: none;">
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/main/tutorials/basics/modelling/classification.ipynb" target="_blank">Classification</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/modelling/logging.ipynb" target="_blank">Logging</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/modelling/model_assessment.ipynb" target="_blank">Model Assessment</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/advanced/modelling/custom_models.ipynb" target="_blank">Custom Models</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/advanced/modelling/deep_learning_models.ipynb" target="_blank">Deeplearning Models</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/advanced/modelling/hyperparameter_optimization.ipynb" target="_blank">Hyperparameter Optimization</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/advanced/modelling/monitoring.ipynb" target="_blank">Monitoring</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/advanced/modelling/multi_task_modelling.ipynb" target="_blank">Multi-task Learning</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/advanced/modelling/PCM_modelling.ipynb" target="_blank">PCM Modeling</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/advanced/modelling/chemprop_models.ipynb" target="_blank">Chemprop Models</a></li>
                                            <li><a href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/other/serialization.ipynb" target="_blank">Serialization</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                            <li class="parent_second" onclick="toggleList(event)">▼ VHP4Safety Models
                                <ul>
                                    <li><a href="{{ url_for('tut_man_thyroid') }}">Thyroid</a></li>
                                    <li><a href="{{ url_for('tut_man_park') }}">Parkinsons</a></li>
                                    
                                </ul>
                            </li>






                        </ul>
                    </li>
                    
                    <br></br>
                    <li class="parent_third"><a class="parent_third" href="https://github.com/CDDLeiden/QSPRpred/blob/d742e8fff0201a632b5af3c7ae5f042fa58f8fa1/tutorials/basics/other/benchmarking.ipynb" target="_blank">Performance</a></li>
                    <li class="parent_third"><a class="parent_third" href="https://github.com/VHP4Safety/QSPRpred-Docker/tree/main" target="_blank">Docker</a></li>
                    <li class="parent_third"><a class="parent_third" href="https://cddleiden.github.io/QSPRpred/docs/api/modules.html" target="_blank">API</a></li>
                    <li><a class="parent_third" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="half-width-text-thyroid-right ">
            <h2 class="highlight-magenta-right">WHAT IS QSPRPRED</h2>

            <p>
                QSPRpred is open-source software libary for building Quantitative Structure Property/Activity 
                Relationship (QSPR/QSAR) models developed by Gerard van Westen's Computational Drug Discovery group. 
                It provides a unified interface for building QSPR models based on different types of descriptors and 
                machine learning algorithms. This package is developed to support research, 
                recognizing the necessity to reduce repetition in model building workflow and improve 
                the reproducibility and reusability of models. This package is made available in hoping to
                facilitate other researchers. QSPRpred is still in active development, 
                contributions and feedback from the community are much appreciated.
                <br></br>
                QSPRpred is designed to be modular and extensible, so that new functionality can be easily added. 
                A command line interface is available for basic use cases to quickly, explore varying scenarios. 
                For more advanced use cases, the Python API offers extra flexibility and control, allowing more 
                complex workflows and additional features. 
                <br></br>
                Internally, QSPRpred relies heavily on the RDKit and scikit-learn libraries. Furthermore, for scikit-learn 
                model saving and loading, QSPRpred uses ml2json for safer and interpretable model serialization. QSPRpred 
                is also interoperable with Papyrus, a large scale curated dataset aimed at bioactivity predictions, 
                for data collection. Models developed with QSPRpred are compatible with the group's de novo drug design 
                package DrugEx.
                <br></br>
                Please use Quick start from the manual section to quickly start building a custom model. Use Instal from 
                the manual section to install QSPRpred on a local machine. Use Building QSPRpred Models from the manual for 
                more detailed information on building custom models. Please find specifications of pretrained models 
                under the appropriate category under VHP4Safety Models in the manual section. And finally, run a pretrained 
                model inside the Stages tab.
            </p>
        </div>
    </div>

    <script>
        function toggleList(event) {
            event.stopPropagation();  // Prevents accidental clicks on parent elements
            let parent = event.target;
            let childList = parent.querySelector("ul");
        
            if (childList) {
                childList.style.display = (childList.style.display === "none" || childList.style.display === "") ? "block" : "none";
            }
        }
    </script>
</body>
</html>
