<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Logo (Clickable link to go to home page) -->
    <div class="logo-container">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='VHP_logo.png') }}" height="150px" alt="Logo">
        </a>
    </div>
    
    <!-- Title Container for second page -->
    <div class="title-container">
        <div class="title-text">Central Access Point</div>
    </div>
    
    <!-- Horizontal line -->
    <hr>

    <!-- Buttons -->
    <div class="button-container">
        <a href="{{ url_for('second') }}">
            <button class="custom-button">S T A G E S</button>
        </a>
        <a href="{{ url_for('workflows') }}">
            <button class="custom-button">W O R K F L O W</button>
        </a>
        <a href="{{ url_for('tutorials') }}">
            <button class="custom-button-selected">T U T O R I A L</button>
        </a>
        <a href="{{ url_for('data') }}">
            <button class="custom-button">D A T A</button>
        </a>   
    </div>

    <div class="custom-button-shape-tut-tool">Q S P R P R E D</div>

    <br></br>

    <div class="half-width-text">
        <p> QSPRpred is open-source software libary for building Quantitative Structure Property/Activity 
            Relationship (QSPR/QSAR) models. It provides a unified interface for building QSPR models based 
            on different types of descriptors and machine learning algorithms.
            <br></br>
            QSPRpred offers functionality to design custom models or use pretrained QSAR models. Pretrained models 
            that are provided by VHP4Safety are found under 'VHP4Safety Models' in the manual section.
</p>
    </div>

<div class="tut-container">
    <a href="{{ url_for('tut_vid') }}">
        <div class="custom-button-shape-tut-vid">
            <img src="{{ url_for('static', filename='video.png') }}" alt="Icon" class="icon-vid">
        </div>
    </a>

    <a href="{{ url_for('tut_man') }}">
        <div class="custom-button-shape-tut-man">
            <img src="{{ url_for('static', filename='manual.svg') }}" alt="Icon" class="icon-man">
        </div>
    </a>
    
    <a href="{{ url_for('tut_test') }}">
        <div class="custom-button-shape-tut-test">
            <img src="{{ url_for('static', filename='testrun.svg') }}" alt="Icon" class="icon-test">
        </div>
    </a>

</div>

<div class="qsprpred-logo-container">
    <img src="{{ url_for('static', filename='qsprpred_logo.png') }}" alt="QSPRpred Logo" class="qsprpred-logo">
</div>

<br><br>
<br><br>

</body>
</html>
